APP_ENV=dev
BASE_URL=https://www.qaplayground.com
AUTH_LOGIN_PATH=/login
AUTH_USERNAME_SELECTOR=input[name="email"]
AUTH_PASSWORD_SELECTOR=input[name="password"]
AUTH_SUBMIT_SELECTOR=button[type="submit"]
# Optional: wait for this path after login (example: /dashboard)
AUTH_POST_LOGIN_PATH=
AUTH_ADMIN_USERNAME=
AUTH_ADMIN_PASSWORD=
AUTH_MANAGER_USERNAME=
AUTH_MANAGER_PASSWORD=
AUTH_MEMBER_USERNAME=
AUTH_MEMBER_PASSWORD=
AUTH_MEMBER_1_USERNAME=
AUTH_MEMBER_1_PASSWORD=
AUTH_MEMBER_2_USERNAME=
AUTH_MEMBER_2_PASSWORD=
